<h2>Lista de Categorias</h2>

<a href="/admin/categories/add"><button class="btn btn-success shadow-lg p-1 mb-5 rounded">Adicionar nova categoria</button></a>

{{#each categories}}
    <div class="card mt-4">
        <div class="card-body">
            <h4 class="">{{nome}}</h4>
            <small>{{slug}}</small>
            <br>
            <small>Data de criação: {{date}}</small>
        </div>
    </div>
{{else}}

{{/each}}